{% extends 'base.html.twig' %}

{% block title %}Film index{% endblock %}

{% block body %}
    <h1>Film index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdFilm</th>
                <th>TitreFilm</th>
                <th>AnneeFilm</th>
                <th>DureeFilm</th>
                <th>Resume</th>
                <th>UrlImage</th>
                <th>Note</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for film in films %}
            <tr>
                <td>{{ film.idFilm }}</td>
                <td>{{ film.titreFilm }}</td>
                <td>{{ film.anneeFilm }}</td>
                <td>{{ film.dureeFilm }}</td>
                <td>{{ film.resume }}</td>
                <td>{{ film.urlImage }}</td>
                <td>{{ film.note }}</td>
                <td>
                    <a href="{{ path('film_show', {'idFilm': film.idFilm}) }}">show</a>
                    <a href="{{ path('film_edit', {'idFilm': film.idFilm}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('film_new') }}">Create new</a>
{% endblock %}
