<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <!-- CSS Materialize -->
        <link rel="stylesheet" href="{{ asset("materialize.min.css") }}">
        {% endblock %}
    </head>
    <body>

        <nav>
            <div class="nav-wrapper">
            <a href="#" class="brand-logo">Logo</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{{ path("acteur_index") }}">Acteurs</a></li>
                <li><a href="{{ path("film_index") }}">Films</a></li>
                <li><a href="{{ path("realisateur_index") }}">Réalisateurs</a></li>
                <li><a href="{{ path("genre_index") }}">Genres</a></li>
            </ul>
            </div>
        </nav>

        {% block body %}{% endblock %}
        <script src="{{ asset("jquery-3.3.1.min.js") }}"></script>
        <script src="{{ asset("materialize.min.js") }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
